.container {
  height:300px;
  position:relative;
}

.myButton {
  align-items:center;
  background-color:#2DAD67;
  border:1px solid #18ab29;
  box-shadow:0 3px 0 0 #1c6f3e;
  color:#fff;
  cursor:pointer;
  display:flex;
  font-family:Arial;
  font-size:17px;
  font-weight:700;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0 1px 14px #2f6627;
}

.myButton:active {
  position:relative;
  top:1px;
}

.myButton:hover {
  background-color:#36ce7b;
}

.search-container {
  display:flex;
  justify-content:center;
  margin-top:150px;
  position:relative;
  width:100%;
  z-index:100;
}

.searchBar {
  font-size:20px;
  height:60px;
  margin-right:20px;
  padding-left:15px;
  width:55%;
}

.select-radius {
  font-size:20px;
  margin-right:20px;
  width:18%;
}