.address {
  align-items: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 25px;
  justify-content: center;
  margin: auto auto 25px;
  width: 100%;
}

.beer-list {
  align-items: center;
  background-color: #FFF;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-radius: 10px;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 0 10px #fffafa;
  color: #2BB976;
  display: flex;
  font-family: monospace;
  font-size: 25px;
  justify-content: center;
  margin-top: 25px;
  padding: 15px;
  transition: 0.5s;
}

.beer-list * {
  cursor: pointer;
  margin: 10px;
}

.beer-list :hover .dropdown-details-box {
  display: block;
}

.beer-list-button {
  align-items: center;
  background-color: #2DAD67;
  border: 1px solid #18ab29;
  box-shadow: 0 3px 0 0 #1c6f3e;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: monospace;
  font-size: 17px;
  font-weight: 700;
  margin-right: 30px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 1px 14px #2f6627;
}

.beer-list-button:active {
  position: relative;
  top: 1px;
  box-shadow: inset 0 0 10px #fffafa;
}

.beer-list-button:hover {
  background-color: #36ce7b;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.dropdown-details-box {
  background-color: #2DAD67;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-radius: 10px;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 10px #000000;
  color: #FFF;
  display: none;
  font-size: 18px;
  padding: 10px;
  position: absolute;
}

.google-maps img {
  width: 51px;
  position: relative;
  bottom: 5px;
}

.head-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.open-closed {
  margin-left: 30px;
}

.open-closed img {
  height: 50px;
}

.results {
  margin-top: 100px;
  padding: 15px;
  position: relative;
}

.results h1 {
  background-color: unset;
  color: #FFF;
  display: inline-block;
  font-family: monospace;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-right: 30px;
}

.results h2 {
  background-color: #FFF;
  border: solid #36CE7B;
  box-shadow: inset 0 0 10px #fffafa;
  color: #36CE7B;
  display: inline-block;
  font-family: monospace;
  font-size: 25px;
  height: 25px;
  padding: 5px;
}

.results li {
  background-color: #2bb976;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-radius: 10px;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 0 10px #fffafa;
  margin: auto auto 15px;
  padding: 25px;
  width: 90%;
  z-index: 1;
}